.item.item__circular
    .item__circular___content
        h5 circular 
            span.tag new 
        h4 National Holiday 
        p some text description goes here 
        strong <time datetime="2016-03-22 20:00"> 22.3.2016
        a.button.button--primary View All 

    