mixin slide
    .slide
        .tag Gallary 
        .content
    .arrow.arrow-left
    .arrow.arrow-right



.item.item__gallary
    .carousel
        .inner
            .slide.active
                .tag Gallary
                .content 
                .arrow.arrow-left
                .arrow.arrow-right

            +slide 
            +slide 
            +slide 
            +slide 
            +slide
            +slide 