.item.item__market-place
    .card.clearfix
        .cars
            .car.active
                .tag Our Market Place  
                .thumbnail
                    .car-img
                        img(src='assets/images/car-1.jpg')
                    .circle
                        img(src="assets/images/icons/car-icon.png", alt="")
                .content 
                    h1.title Toyota FJ Cruiser 2009
                    p.description Mohammed Fady
            .car
                .tag Our Market Place  
                .thumbnail
                    .car-img
                        img(src='assets/images/car-2.webp')
                    .circle
                        img(src="assets/images/icons/car-icon.png", alt="")
                .content 
                    h1.title Roles royes car
                    p.description Mohammed Elzanaty
            .car
                .tag Our Market Place  
                .thumbnail
                    .car-img
                        img(src='assets/images/car-3.jpg')
                    .circle
                        img(src="assets/images/icons/car-icon.png", alt="")
                .content 
                    h1.title Toyota FJ Cruiser 2009
                    p.description Mohammed Fady
        .footer
            a#prev(href='#'): <img src="assets/images/icons/arrow-right.png">
            a#next(href='#'): <img src="assets/images/icons/arrow-left.png">
        a.button.button--primary View All 