.page 
  .container
    .row
      .col-xs-12.col-md-8
        include ./_news
        .row 
          .col-xs-12.col-md-6 
            include ./_circular
            include ./_events 
            include ./_help-desk
          .col-xs-12.col-md-6 
            include ./_announcement
            include ./_polls-servy
      .col-xs-12.col-md-4
        include ./_find-profile
        include ./_self-service
        include ./_market-place
        include ./_gallary

        
       
