// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #de2b47;

$color-white: #ffffff;
$color-white-smoke: #f4f4f4;

$color-text: #313330;
$color-grey: #a2a3a3;

$color-black: #000;
$color-black-light: #050300;
$color-concrte: #2c3e50;
$color-grey-light: #ecf0f1;
// Background Colors
$bg-color-gray: #797979;

// Border
$color-border: #ecf0f1;

// Links
$color-link: $color-text;
$color-link-hover: $color-brand;

// Text
$color-text-light-grey: rgba(0, 0, 0, 0.4);
$color-text-dark-grey: rgba(0, 0, 0, 0.89);
$color-text: #808285;
