/*------------------------------------*\
  Components > Buttons
\*------------------------------------*/

$btn-primary-bg: $color-brand;
$btn-primary-bg-hover: #de2b47;
$btn-secondary-bg: $color-white;
$btn-secondary-bg-hover: $bg-color-gray;
.button {
  display: inline-block;
  padding: half($base-spacing-unit) double($base-spacing-unit);
  font-family: "Play", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  transition: $global-transition;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: bold;
  border: 0;
  border-radius: 48px;
  font-size: $font-size-medium;
  text-transform: uppercase;
  outline-width: 0;
  transition: box-shadow ease 0.23s;
  @include attention() {
    text-decoration: none;
  }
  &-stroked {
    padding: 0.4rem 2.5rem;
    color: $color-white;
    border: 1px solid $color-text-light-grey;
    transition: all 200ms ease-in;
  }
  &--primary {
    color: $color-white;
    background-color: $color-brand;
  }
  &--secondary {
    border: 1px solid $color-border;
    background-color: $btn-secondary-bg;
    @include attention() {
      background-color: $btn-secondary-bg-hover;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    }
  }
  &--full {
    width: 100%;
  }
}

/* Radial Out */

.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $color-brand;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-radial-out:hover,
.hvr-radial-out:focus,
.hvr-radial-out:active {
  color: $color-white;
}

.hvr-radial-out:hover:before,
.hvr-radial-out:focus:before,
.hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
