ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  width: 100%;
  li {
    float: left;
    margin: 0;
    cursor: pointer;
    padding: 0px 21px;
    height: 31px;
    line-height: 31px;
    background-color: transparent;
    border: none;
    color: $color-white;
    padding: 20px 50px 32px 20px;
    overflow: hidden;
    position: relative;
    &.active {
      background-color: $color-brand;
      color: $color-white;
      display: block;
    }
  }
}

.tab_container {
  border-top: none;
  clear: both;
  float: left;
  width: 100%;
  background: $color-brand;
  overflow: auto;
  color: $color-white;
  padding: 0.5rem 0 0 0;
}

.tab_content {
  p {
    padding: 1rem;
    text-align: justify;
  }
  h5 {
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5rem 1rem;
    margin: 0;
  }
  form {
    margin: 0;
    fieldset {
      padding: 1rem;
      border: none;
      .form-group {
        label {
          cursor: pointer;
        }
        input[type="radio"] {
          position: absolute;
          opacity: 0;
          + .radio-label {
            &:before {
              content: "";
              background: $color-white;
              border-radius: 100%;
              border: 1px solid $color-white;
              display: inline-block;
              width: 1.4em;
              height: 1.4em;
              position: relative;
              top: 3px;
              margin-right: 1em;
              vertical-align: top;
              cursor: pointer;
              text-align: center;
              transition: all 250ms ease;
            }
          }
          &:checked {
            + .radio-label {
              &:before {
                background-color: $color-brand;
                box-shadow: inset 0 0 0 4px $color-white;
              }
            }
          }
          &:focus {
            + .radio-label {
              &:before {
                outline: none;
                border-color: $color-brand;
              }
            }
          }
        }
      }
    }
    .actions {
      border-top: 1px solid darken($color: $color-brand, $amount: 10%);
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      a.button {
        padding: 0.5rem;
        color: $color-white;
        width: 100%;
        height: auto;
        border-radius: 0;
        font-weight: 700;
        font-size: 0.8rem;
        transition: all 300ms ease-in-out;
        &:hover {
          background: darken($color: $color-brand, $amount: 10%);
          border-right: darken($color: $color-brand, $amount: 10%);
        }
      }
    }
  }
}

.tab_drawer_heading {
  display: none;
}

@media screen and (max-width: 480px) {
  .tabs {
    display: none;
  }
  .tab_drawer_heading {
    background-color: $bg-color-gray;
    color: $color-white;
    margin: 0;
    padding: 5px 20px;
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .d_active {
    background-color: $color-brand;
    color: $color-white;
  }
}
