.item.item__find-profile {
  display: flex;
  position: relative;
  height: 70px;
  margin-bottom: 15px;
  span {
    text-transform: uppercase;
    background: $color-brand;
    color: $color-white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.2rem;
    width: 30%;
    font-weight: bold;
  }
  .search__box {
    height: 70px;
    padding: 0.5rem 4.6rem 0.5rem 1rem;
    cursor: pointer;
    &:focus,
    &:active {
      border: none;
    }
  }
  .search__submit {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: $color-brand;
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $color-grey;
    font-weight: 400;
    font-style: initial;
    font-size: 0.8rem;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: $color-grey;
    font-weight: 400;
    font-style: initial;
    font-size: 0.8rem;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: $color-grey;
    font-weight: 400;
    font-style: initial;
    font-size: 0.8rem;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: $color-grey;
    font-weight: 400;
    font-style: initial;
    font-size: 0.8rem;
  }
}
