.widget-container {
  background: $color-white;
  margin: 10px 0px;
  padding: 20px 0px;
  header {
    display: flex;
    align-items: center;
    padding: 10px;
    img {
      width: 20px;
      position: relative;
      top: -18px;
    }
    i {
      position: relative;
      top: -15px;
      font-size: 24px;
      color: $color-brand;
    }
    h4 {
      text-transform: uppercase;
      letter-spacing: 1.4;
      margin: 0 0 30px 10px;
      color: darken($color: $color-grey, $amount: 40%);
    }
  }
  .item__widget {
    background-image: linear-gradient(
      to right,
      $color-grey 10%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: bottom;
    background-size: 8px 1px;
    background-repeat: repeat-x;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    .widget__icon {
      width: 50px;
      height: 50px;
      img {
        // display: none;
        margin-left: 10px;
      }
      i {
        position: relative;
        font-size: 50px;
        color: darken($color: $color-grey, $amount: 30%);
        margin-right: 10px;
        &::after {
          content: "12";
          font-size: 22px;
          font-weight: bold;
          text-align: center;
          color: $color-white;
          position: absolute;
          top: 20px;
          left: 4px;
          right: 4px;
          bottom: 4px;
          background: darken($color: $color-grey, $amount: 30%);
        }
      }
    }
    .widget__content {
      padding: 0px 20px;
      p {
        font-size: 20px;
        color: $color-concrte;
        font-weight: 400;
        line-height: 1.2;
        margin: 0px;
        letter-spacing: 0.5px;
        @media screen and (min-width: 678px) {
          font-size: 14px;
        }
      }
      strong {
        color: darken($color: $color-grey-light, $amount: 10%);
        font-size: 12px;
      }
    }
  }
}
