/*------------------------------------*\
  Trumbs > Align
\*------------------------------------*/

.mz-text-left {
  text-align: left;
}

.mz-text-right {
  text-align: right;
}

.mz-text-center {
  text-align: center;
}

.mz-text-justify {
  text-align: justify;
}