/*------------------------------------*\
  Elements > Page
\*------------------------------------*/

.mz-inline {
  display: inline;
}

.mz-block {
  display: block;
}

.mz-inline-block {
  display: inline-block;
}

.mz-left {
  float: left;
}

.mz-right {
  float: right;
}